﻿@charset "UTF-8";

body {
	background: url(../images/nav-bg.png) repeat-x;
	height: 80px;
	z-index: -9999;
	background-position: 0 180px;
}

a:link, a:hover, a:active, a:focus {
	color: #600502;
}

::-moz-selection {
    background: #FCE86B;
}

::selection {
    background: #FCE86B;
}

.white-text {
	color: #FFF;
}

.text-center {
	text-align: center;
}

.divider {
	border-top: 2px dotted #600502;
	padding-bottom: 40px;
	margin-top: 40px;
}

.italic {
	font-style: italic;
}

header {
	color: #600502;
	padding: 10px 0 10px 0;
	border-top: 6px solid #FCE86B;
}

header a:link {
	font-family: 'Lobster', cursive;
	font-size: 20px;
}

.phone-icon {
	padding-right: 10px;
}

.logo {
	position: relative;
	top: 60px;
	z-index: 1;
}

.fb-like {
	position: relative;
	top: -8px;
}

.nav-bg {
	background: url(../images/nav-bg-lft.png), url(../images/nav-bg-rt.png);
	background-position: left, right;
	background-repeat: no-repeat;
	height: 80px;
	position: relative;
	bottom: 80px;
	}
	
.dropdown {
	z-index: 9999 !important;
}

.carousel-caption .btn-large {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
	
/* offcanvas styles */

html, body {
  height: 100%;
}

body {
  padding: 50px 0 0 0;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}

/* /offcanvas styles */

nav ul {
	list-style-type: none;
	position: relative;
	top: 30px;
	left: -25px;
}

nav ul li {
	display: inline-block;
	padding: 0 15px;
}

nav ul a:link, nav ul a:active, nav ul a:focus {
	color: #FFF !important;
	text-decoration: none;
}

nav ul a:visited {
	color: #FFF !important;
	text-decoration: underline !important;
}

nav ul a:hover {
	color: #FCE86B !important;
}

.rt-nav {
	margin-right: 10px;
}

.hiring {
	position: absolute;
	top: 10px;
	right: 60px;
	z-index: 9999;
}

.carousel-caption h1 {
	font-size: 44px;
}

.carousel-caption p {
	font-size: 24px;
	color: #FFF;
	letter-spacing: 1px;
}

.carousel-control {
	color: #FFF !important;
}

.featurette {
	border-top: 2px dotted #600502;
	border-bottom: 2px dotted #600502;
	padding-bottom: 10px;
	margin-bottom: 40px;
}

.featurette h3 {
	color: #600502;
	background-color: #FFF;
	text-align: center;
	width: 300px;
	margin: 0 auto;
	position: relative;
	top: -15px;
}

.featurette p {
	padding: 0 40px;
	font-size: 30px;
	color: #600502;
}

.about-caption {
	position: absolute;
	width: 100%;
	padding: 0 40px;
	top: 15px;
}

.about-caption h3 {
	text-align: center;
	font-size: 40px;
	color: #FCE86B;
}

.about-caption p {
	padding-top: 10px;
}

.img-padding {
	padding: 0 10px 30px 10px;
}

footer {
	border-top: 2px dotted #600502;
	border-bottom: 2px dotted #600502;
	padding: 20px 0;
	margin: 50px 0;
	color: #600502;
}
.yellow{color: #fbd248}
.contact-header{text-align:center;}
.locations{float:left;min-width:300px; width:90%; margin:0 5%;}
.location-wrapper{width:50%; min-width:380px; margin:0 auto; display:block;float:left;}
.clearfloat{clear:both;}
.locations-wrapper{width:100%; max-width:960px; margin:0 auto;text-align:center}

footer p, footer a:link {
	font-size: 12px;
	line-height: 11px;
}

footer ul {
	margin-left: -20px;
	list-style-type: circle;
}

.border-right {
	border-right: 2px dotted #600502;
	padding-right: 20px;
	margin-right: 20px;
	min-height: 120px !important;
}

.vertical-padding {
	padding: 20px 0;
}

.music {
	padding: 0 30px;
}

.music iframe {
	max-width: 100%;
	max-height: 100%;
}

.month {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

.padding-bottom {
	padding-bottom: 40px;
}

.sub-nav a:link {
	font-size: 18px;
	margin: 10px;
}

.hours {
	margin-top: -10px;
	margin-bottom: 20px;
}

.menu .col-sm-6, .menu .col-sm-8, .menu .col-sm-4 {
	padding: 0 50px !important;
}

.menu h2 {
	margin-bottom: 20px;
}

.menu .item {
	text-transform: uppercase;
	font-size: 20px;
	padding-top: 15px;
}

.menu span {
	font-family: "Rokkitt",serif;
	font-size: 12px;
	font-style: italic;
}

.menu-border {
	border-right: 2px dotted #600502;
}

.menu img {
	margin: 0 10px;
}

/* basement styles */

.fltlft {
	float: left;
}

.fltrght {
	float: right;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#basement {
	background-color: #610404;
	width: auto;
	margin-top: 100px;
	padding-bottom: 20px;
}

#basement p {
    color: #eaebec;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 11px;
    margin: -30px 0 30px 0;
}

#basement .basement-container img {
	margin: 0 8px;
}

.basement-container {
	max-width: 1000px;
	height: auto;
	margin: 0 auto;
}

.pineapple-wrapper {
	background: url(../images/logos/circle.png);
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
	position: relative;
	bottom: 30px;
}

.basement-link {
	text-decoration: none;
}

.pineapple {
	background: url(../images/logos/pineapple.png);
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	position: relative;
	top: 15px;
}

.img-center {
	display: block;
	margin: -40px auto 0 auto;
}

.ecard {
	background-color: #FCE86B;
	text-align: center;
	padding: 6px 0;
}

.ecard a {
	color: #610404;
	text-transform: uppercase;
	font-size: 0.8em;
}
	
@media (max-width:768px) {
	
	.carousel-caption, .hiring {
		display: none;
	}
	
	.logo {
		top: 0;
		z-index: 1;
	}
	.text-right {
		text-align: left !important;
	}
	
	.featurette {
	margin-top: 40px;
	}
	
	.featurette p {
	padding: 0;
	font-size: 16px;
	color: #600502;
	}
	
	.about-caption {
		position: inherit;
	}
	
	.about-caption p {
		color: #600502;
	}
	
	.embed-responsive-1 {
	padding-bottom: 56.25% !important;
	}
	
	.border-right {
	border-right: none;
	min-height: 0 !important;
	}
	
	.menu-border {
		border: none;
	}
	
	.menu .col-sm-6, .menu .col-sm-8, .menu .col-sm-4 {
	padding: 0 10px !important;
}

}

@media (max-width:815px){
.locations{float:none;min-width:300px; width:90%; margin:0 auto;}
.location-wrapper{width:90%; min-width:300px; margin:0 auto; display:block;float:left;}

}

@media (max-width:992px) {
	.carousel {
		top: 0 !important;
	}
	
	.about-caption {
		padding: 0;
		top: 0;
	}
	
	.about-caption p {
	font-size: 12px;
	}
	
}

@media (max-width:1200px) {
	body {
	background-position: 0 145px;
	}
	
	.about-caption {
	padding: 0 20px;
	top: 5px;
	}

	.about-caption p {
	font-size: 14px;
	}
	
}

/* Modal Popup Styles */
	
	#hover{
  position:fixed;
  background:#000;
  width:100%;
  height:100%;
  opacity: .6;
  z-index: 9997;
}

#popup{
  position:absolute;
  max-width:600px;
  background:#fff;
  left:50%;
  top:50%;
  border-radius:5px;
  padding: 0;
  margin-left:-300px; /* width/2 + padding-left */
  margin-top:-300px; /* height/2 + padding-top */
  text-align:center;
  box-shadow:0 0 10px 0 #000;
  z-index: 9998;
}

#popup a:link {
	text-decoration: none;
}

#popup img {
	max-width: 100%;
	height: auto;
	position: relative;
	display: block;
	margin: 0 auto;
}

#close{
  position:absolute;
  background:black;
  color:white;
  right:-15px;
  top:-15px;
  border-radius:50%;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  font-size:8px;
  font-weight:bold;
  font-family:'Arial Black', Arial, sans-serif;
  cursor:pointer;
  box-shadow:0 0 10px 0 #000;
  z-index: 9999;
}

.signup-popup {
	background-color: #fff;
	width: 100%;
	padding: 25px 50px;
}

.popup-btn {
	background-color: #FCE86B;
	color: #000;
	font-size: 1.4em;
	padding: 15px 20px;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
}

.popup-btn:hover {
	background-color: #600502;
	color: #fff;
	text-decoration: none;
}



@media (max-width : 768px) {

#popup{
  position:relative;
  max-width:600px;
  max-height:336px;
  background:#fff;
  left:0;
  top:60px;
  padding: 0 ;
  margin-left: 5px; /* width/2 + padding-left */
  margin-right: 5px;
  margin-top:0; /* height/2 + padding-top */
}

#close{
  z-index: 9999;
}

}

/* End Modal Popup Styles */

.catering-form {
	    padding: 15px;
    }
    
    .catering-form h3 {
	    color: #600502;
	    padding-bottom: 15px;
    }
    
    .catering-form .catering-field {
	    display: block;
	    margin: 10px auto;
	    border: 1px solid black;
	    padding: 3px 20px 3px 5px;  
    }
    
    .catering-form .contact-message {
	    display: block;
	    margin: 0;
	    border: 1px solid black;
	    padding: 3px 20px 3px 5px;  
    }
    
    .catering-form .form_label {
	    text-align: center;
	    color: #600502;
    }
    
    .catering-form .disclaimer {
	    font-style: italic;
	    font-size: 0.75em;
	    color: #600502;
    }
    
    .catering-button {
	    background-color: #600502;
	    color: #fff;
	    text-transform: uppercase;
	    text-align: center;
	    padding: 3px 20px;
	    letter-spacing: 1px;
    }
    
    .catering-button:hover {
	    background-color: #FCE86B;
	    color: #000;
	    text-transform: uppercase;
	    text-align: center;
	    padding: 3px 20px;
	    letter-spacing: 1px;
    }
    
    @media (max-width:768px) {
	    .catering-form input {
		    width: 100%;
	    }
	    .catering-button, .catering-form select {
	    display: block;
	    margin: 10px auto;
    }
    
    .catering-form .form_label, .catering-form .disclaimer {
	    text-align: center !important;
	    }
	    }