@charset "UTF-8";


@media screen and (max-width: 900px) {
	
	html { 
  background: #FFF;
}

.container {
	width: 100%;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	-webkit-border-radius: 0;
	border-radius: 0;
}

.logo {
	float: none;
	margin: 40px auto;
	display: block;
}

.nav {
	padding: 0;
	float: none;
}

.nav form {
	display: none;
}

.nav a {
	border: 1px solid #600502;	
	padding: 5px 10px;
	display: block;
	margin: 10px auto;
	width: 90%;
	text-align: center;
}


.marquee {
	width: 95%;
	margin: 0 auto 10px auto;
	display: block;
}

.little-box {
	display: none;
}
	

/* begin slider styles*/

.rslides {
 width: 90%;
	height: auto;
	margin: 20px auto;
	float: none;
  }
  
/* end slider styles*/



.col-one, .col-two {
	margin: 20px auto;
	text-align: left;
	display: block;
	width: 100%;
	padding-right: 0;
}

.product-img img {
	width: 96%;
	height: auto;
	display: block;
	margin: 0 auto 40px auto;
	float: left;
}

.product-description {
	float: none;
	padding-left: 20px;
}

.product-img a {
	pointer-events: none;
   cursor: default;
}


	
}