@charset "UTF-8";

html { 
  background: url(../images/bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.jpg', sizingMethod='scale')";
}

body, p {
	font-family: 'Rokkitt', serif;
	margin: 0;
	padding: 0;
	color: #600502;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5 {
	font-family: 'Lobster', cursive;
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #600502;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this fixed width container surrounds all other elements ~~ */
.container {
	width: 960px;
	background-color: #FFF;
	margin: 60px auto; /* the auto value on the sides, coupled with the width, centers the layout */
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #fbd248;
}

/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
.content {

	/*padding: 10px 0;*/
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the overflow:hidden on the .container is removed */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.nav {
	padding: 95px 30px 0 0;
	float: right;
}

.nav form {
	float: right;
	margin: 0 0 0 -10px;
}

.logo {
	float: left;
	margin: 20px;
}

.nav a, .nav-button {
	font-family: 'Rokkitt', serif;
	font-size: 16px;
	background: #FFF;
	color: #600502;
	border: 1px solid #600502;	
	padding: 5px 10px;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	text-decoration: none;
	 -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.nav-button {
 height: 30px;
}



.nav a:hover, .nav-button:hover {
	background-color: #600502;
	color: #FFF;
}

.nav p:hover {
	color:#FFF;
}

.marquee {
	border: 1px solid #600502;	
	padding: 5px 10px;
	display: inline-block;
	vertical-align: top;
	background-color: #600502;
	color: #FFF;
	width: 400px;
}

.hr {
	background: #600502;
	margin: 0 20px;	
}



.little-box {
	width: 300px;
	height: 215px;
	float: right;
	margin: 20px 20px 0 0;
}

.little-box img {
	margin-bottom: 15px;
}

/* begin slider styles*/

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  
  width: 600px;
	height: 450px;
	margin: 20px 20px 0 20px;
	float: left;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  
/* end slider styles*/

.path {
	margin: 10px;
	padding-left: 20px;
}

.product {
	display: inline-block;
	position:relative;
	margin: 20px 0 20px 20px;
}

.product-description {
	float: right;
	padding-left: 40px;
}


/*begin footer styles*/

.footer {
	font-family: 'Rokkitt', serif;
	background-color: #dcdcdc;
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	color: #000;
	padding: 40px 20px;
	font-size: 12px;
	margin-top: 40px;
}

.footer a {
	color: #000;
}

.col-one {
	display: inline-block;
	vertical-align: top;
	width: 230px;
	padding-right: 100px;
}

.col-two {
	display: inline-block;
	vertical-align: top;
	width: 180px;
}

.col-one label, .footer .header {
	text-transform: uppercase;
	vertical-align: top;
	color: #000;
}

.label-form {
	width: 215px;
}

.submit-button {
	display: none;
}

.lightbox {
  /** Hide the lightbox */
  display: none;

  /** Apply basic lightbox styling */
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: black;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  /** Show lightbox when it is target */
  display: block;

  /** Remove default browser outline style */
  outline: none;
}

.add-to-cart {
	margin: 30px 0;
}



